.content__wrapper {
  background-color: #f6f6ef;
  padding: 8px;
}

.headlines__more-link {
  font-size: 13px;
  font-weight: 400;
  line-height: 0;
  margin-top: 24px;
  padding-left: 16px;
  color: #828282;
  cursor: pointer;
}
