.comment__wrapper {
  margin-left: 25px;
}

.comment__controls__author,
.comment__controls__age,
.comment__controls__view-toggle {
  color: #828282;
  font-size: 10px;
}

.comment__controls__view-toggle {
  cursor: pointer;
}

.comment__text {
  font-size: 12px;
}
