.story {
  margin-bottom: 12px;
  background-color: #d3d3d3;
  border: 1px solid black;
  cursor: pointer;
}

.story__title-wrapper {
  display: flex;
  align-items: center;
}

.story__score {
  margin-right: 12px;
}

.story__poster {
  margin: 0;
}
